.switch {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0 20px;


  h3 {
    align-self: center;
    margin: 0;
    padding: 0;
  }

  button {
    position: absolute;
    right: 0px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: 5px;
  }

}
