.AllControls {
  width: 80%;
  margin: 0 auto;
}

.AllControls > img {
  display: block;
  width: 60%;
  margin: 0 auto;
}

.AllControls > hr {
  width: 80%;

  margin: 40px auto;
}

.AllControls > h1,
.AllControls > h2 {
  text-align: center;
}

.ServoMotorSection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}
