.form-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  z-index: 100;
  text-transform: uppercase;

  >div {
    position: relative;
    width: 30%;
    height: 50%;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    z-index: 101;

    .cross {
      position: absolute;
      border-radius: 0 10px 0 0;
      top: 0;
      right: 0;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    height: 80%;
    margin: 20px;
    box-sizing: border-box;

    input{
      height: 30px;
    }

    select{
      height: 30px;
      &:hover{
        cursor: pointer;
      }
    }

    button {
      width: 50%;
      margin: 0 auto;
      height: 30px;
      text-transform: uppercase;
    }
  }
}
