.servo-container {
  position: relative;
  > button {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
}

.wrapper{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  input{
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    display: block;
    margin: 3px auto;
    width: 40%;
    text-align: center;
  }

  label{
    display: block;
    margin: 0 auto;
    text-align: right;
  }
}
