.ServoContainer {
  width: 90%;
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
  background-color: #eeeeee;
  border-radius: 10px;
  border: 1px solid #393e46;
  box-shadow: 0 1px 5px 1px #393e46;
  text-align: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.ServoContainer button {
  display: inline-block;
  width: 20%;
}
.ServoContainer > div {
  width: 70%;
  align-self: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.ServoContainer hr {
  display: block;
}

.ServoContainer > section {
  width: 30%;
  align-self: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.SectionHeading {
  text-align: center;
  display: inline-block;
  /* border-bottom: 1px solid #393e46; */
  width: 80%;
}

@media (max-width: 800px) {
  .ServoContainer {
    width: 100%;
    flex-wrap: wrap;
  }
  .ServoContainer > div {
    width: 90%;
    align-self: center;
    padding: 0 10px;
  }
  .SectionHeading {
    margin: 10px 0;
  }

  .ServoContainer > section > h4:first-child {
    margin: 5px 0;
  }
}
