.single-servo-grid {
  //display: grid;
  //grid-template-columns: 1fr 2fr;
}

.wrapper{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  input{
    display: block;
    margin: 0 auto;
    width: 20%;
  }

  label{
    display: block;
    margin: 0 auto;
    text-align: right;
  }
}
